<template>
  <div id="app">
    <div class="profile">
      <img src="./assets/profile-picture.jpg" alt="Profilbild" />
      <div class="info">
        <h1>{{ name }}</h1>
        <p>{{ contact }}</p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      name: "Fabian ruc",
      contact: "please dont contact me",
    };
  },
};
</script>

<style>
#app {
  text-align: center;
  margin-top: 60px;
}

.profile {
  display: flex;
  align-items: center;
}

img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 20px;
}

h1 {
  margin: 0;
}

p {
  margin: 5px 0;
}
</style>

